.product-qutu{
    border-radius: 10px;
    box-shadow: 0 0 1rem #aaaaaa85;
    width: 400px;
    transition: all .5s ease;
    overflow: hidden;
  

    width: 400px;
    .product-qutu-in{
        padding: 20px 15px;
    }
    .top-hisse{
        height: 400px;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: contain;
            transition: all .8s ease-out;
        }
         


    }
    .bottom-hisse{
        .sebet-icon{
            display: flex;
            justify-content: end;
            .icon{
                font-size: 25px;
                cursor: pointer;
            }
        }
       
        h5{
            font-size: 20px;
            margin-top: 20px;
        }
        .qiymetler{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-top: 20px;

            .new-price{
                font-size:18px;
                font-weight: 500;
            }
            .old-price{
                font-size: 14px;
                text-decoration: line-through;
                color: #beb9b9;
            }
        }
        .sizes{
            margin-top: 15px;
            cursor: pointer;
            text-transform: uppercase;
        }
            
        

    }
}
.product-qutu:hover{
    transform: translateY(-20px);
    .top-hisse{
        img{
            transform: scale(1.1);
        }
    }
}

.parfume{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 60px auto;

}

.hermes-in{
    width: 100%;
    video{
        width: 100%;
        height: 100%;
    }
}