header{
position: fixed;
top: 0;
width: 100%;
transition: all .5s ease-in-out;
z-index: 999;


    nav{
      
        max-width: 1000px;
        padding: 25px 10px;
        margin: 0 auto;
   
       

.overlay{
    position: absolute;
    color: #000;
    background-color: #FFF;
     height:100vh;
     width: 300px;
     right: 0;
     top: 0;
     z-index:99 ;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    




     .top-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #000;

        
     }
     .top-right{
        position: absolute;
        bottom: 40px;
       
        display: flex;
        gap: 20px;
        color: #000;
     }


     .top-left a{
        transition: all .3s ease;
        color: #000;
        text-decoration: none;

     }
     .top-left a:hover{
        transform: translateX(20px); //linkler yerinen oynayir

     }






     .close-icon{
        position: absolute;
        top: 5px;
        left: 10px;
        color:#000;
        font-size: 20px;
        cursor: pointer;
        
     }
}
    .bars-icon{
        font-size: 30px;
        cursor: pointer;
        display: none;
        padding: 10px 15px;
        color: #FFF;

       
        
        

       
    
}
       .top{
        display: flex;
        justify-content: space-between;
        color: #FFF;

        .top-left{
            display: flex;
            align-items: center;
            gap: 20px;
            
            a{
                text-decoration: none;
                color:#FFF;
            }

        }
        .top-right{
            display: flex;
            align-items: center;
            gap: 20px;

            .poisk,.fav,.korzina,.log{
                font-size: 20px;
            }
        }

       }
       .middle{
        h1{
            text-align: center;
            font-size: 70px;
            letter-spacing: 20px;
            color: #FFF;
            text-shadow: 0 0 1rem #000;
            margin-top: 30px;
            user-select: none;
        }
       }
    }
    

    

}
.stiki{
    background-color: #FFF;
  }   

header:hover{
    background-color: #FFF;


    nav{

        .bars-icon{
            color: #000;
        }
        .top{
            color: #000;
            .top-left{
                a{
                    color:#000 ;
                }
            }
        }
        .middle h1{
            color: #000;
            text-shadow: none;
        }
    }

}
@media(max-width:1010px){
    header  nav{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:950px){
    header nav .top{
        display: none;

    }
    header nav .bars-icon{
        display: flex;
        justify-content: end;
        align-items: center;
      
    }

}
@media(max-width:600px){
    header nav .middle h1{
        font-size: 45px;

    
    }

}
@media(max-width:500px){
    header nav .middle h1{
        font-size: 30px;

    
    }
}

